<!DOCTYPE html>
<html lang="ko">
  <head>
    <link type="text/css" rel="stylesheet" href="/css/list.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/list.js"></script>
    <script src="/js/create.js"></script>
    <title>가계부 목록</title>
    <script>
      $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });
    </script>
  </head>
  <body>
    <div class="wrap">
      <div class="contents-main">
        <div class="contents-container">
          <div class="contents-header">
            <div class="contents-balence">잔액: <%= balance %>원</div>
            <div class="contents-memu-group">
              <img class="add-button" src="/images/add.png" alt="등록" data-toggle="tooltip" title="add" onclick="createAccoutBook()" />
              <img class="trash-button" src="/images/trash.png" alt="휴지통" data-toggle="tooltip" title="trash" onclick="trash()" />
              <img class="user-button" src="/images/user.png" alt="사용자" data-toggle="tooltip" title="mypage" onclick="toMypage()" />
              <img class="logout-button" src="/images/logout.png" alt="로그아웃" data-toggle="tooltip" title="logout" onclick="logout()" />
            </div>
          </div>
          <div class="line"></div>
          <% if (list.length == 0) { %>
          <div class="no-data-text">등록된 가계부가 없습니다.</div>
          <% } %> <% if (list.length != 0) { %> <% for(const data of list) { %>
          <div class="contents-item">
            <div class="content-item-align">
              <div class="contents-item-date"><%= data.use_date %></div>
              <div class="contents-item-group">
                <img
                  class="detail-button"
                  src="/images/detail.png"
                  alt="더보기"
                  data-toggle="tooltip"
                  title="detail"
                  onclick="detail('<%= data.account_book_id %>')"
                />
                <img
                  class="update-button"
                  src="/images/update.png"
                  alt="수정"
                  data-toggle="tooltip"
                  title="update"
                  onclick="update('<%= data.account_book_id %>')"
                />
                <img
                  class="delete-button"
                  src="/images/delete.png"
                  alt="삭제"
                  data-toggle="tooltip"
                  title="delete"
                  onclick="remove('<%= data.account_book_id %>')"
                />
                <div class="contents-item-purpose"><%= data.purpose %></div>
                <% if (data.type == "수입") { %>
                <div class="contents-item-money"><span class="income"><%= data.type %> <%= data.amount %></span> 원</div>
                <% } %> <% if (data.type == "지출") { %>
                <div class="contents-item-money"><span class="expenditure"><%= data.type %> <%= data.amount %></span> 원</div>
                <% } %>
              </div>
            </div>
            <div class="line2"></div>
          </div>
          <% } %> <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
