<!DOCTYPE html>
<html lang="ko">
  <head>
    <link type="text/css" rel="stylesheet" href="/css/update.css">
    <script src="/js/update.js"></script>
    <title>가계부 수정하기</title>
  </head>
  <body>
    <div class="wrap">
      <div class="contents-main">
        <div class="contents-container">
          <div class="contents-header">
            <div class="contents-update">가계부 수정</div>
          </div>
          <div class="line"></div>
          <div class="date">작성 날짜: <%= detail.reg_date %></div>
          <div class="contents-align">
            <div>결제</div>
            <input type="text" id="payment" value="<%= detail.payment%>">
            <div>내역</div>
            <input type="text" name="purpose" id="purpose" value="<%= detail.purpose%>">
            <div>분류</div>
            <input type="text" id="type" value="<%= detail.type%>">
            <div>금액</div>
            <input type="number" id="amount" value="<%= detail.amount%>">
            <div>메모</div>
            <input type="text" id="memo" value="<%= detail.memo%>">
            <input type="hidden" id="account_book_id" value="<%= detail.account_book_id%>">
            <button onclick="update()">수정하기</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>